.anime-item {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.anime-item img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.watch-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: orange;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
}
